<div id="proposalAddForm">
  <h1>{{title}}</h1>
  <div class="grid-container" uk-grid>

    <!--------------------------------------------------------------->
    <!------------------------- SECTION ONE ------------------------->
    <!--------------------------------------------------------------->
    <div class="section-one">
      <!------------------------- PROPOSAL ADD FORM ------------------------->
      <form (ngSubmit)="save()" [formGroup]="proposalForm" novalidate>


        <!----- ENTER TITLE------>
        <div class="uk-margin">
          <label class="uk-form-label" for="title" [ngClass]="{'error': proposalForm.get('proposalTitle').touched && proposalForm.get('proposalTitle').hasError('required')}">{{proposalForm.get('proposalTitle').touched && proposalForm.get('proposalTitle').hasError('required') ? "Title is Required" : "Project Title"}}</label>
          <div class="uk-form-controls">
            <input class="uk-input" type="text" placeholder="Enter Proposal Title" id="title" formControlName="proposalTitle">
          </div>
        </div>


        <!----- SUBMIT BUTTON ------>
        <button class="uk-button uk-button-primary" id="proposal-create-btn" [disabled]="proposalForm.invalid">{{proposalForm.invalid ? "Complete All Fields To Activate Me" : "CREATE PROPOSAL"}}</button>
      </form>
    </div>

  </div>
</div>

